body{
color: #555555;
background-color: #f5f5f5;

font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: normal;

/* Same as above */
font: normal 16px Arial, Helvetica, sans-serif;

/* To make large text bodies more readable */
line-height: 1.5em;
}
.heading{
	background-color: #333;
	color: #eee;
	padding-bottom: 40px;
	margin-bottom: 10px;
	width: 100%;
}
.heading #logo{
	position: relative;
	padding: 20px;
	float: left;
}

.button{
 	background-color: #555;
 	color: #fff;
 	padding: 10px 15px;
 	border: white double;
 }
.button:hover{
	background-color: red;
	color: white;
}
a{
	text-decoration: none;
	color: orange;
}

a.hover{
	color: red;
}

a.active{
	color: green;
}

.container{
	width: 80%;
	margin: auto;
}
.box-1{
	background-color: #333;
	color: #aaa;
	
	/*borders stuff*/
	border-right: 5px red solid;
	/* theres solid, dotted, dashed, double */
	border-style: dotted;
	border-left: 5px red solid;
	/* or do it symmetrically */
	border:  5px red dashed;
	/* overwrites the extended 5px */
	border-width: 4px;

	/*padding stuff*/
	padding: 20px;

	/*margin stuff*/
	margin-top: 20px;
	margin: 20px 0;

}

/*selecting a certain element within a class*/
.box-1 h2{
	font-family: Tahoma;
	font-style: italic;
	font-weight: 800;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	word-spacing: 0.1em;
}

.box-2{
	border: 3px dotted #ccc;
	padding: 20px;
	margin: 20px;
}

.categories{
	border: 1px #ccc solid;
	padding: 10px;
	border-radius: 15px;
}

.categories h2{
	text-align: center;
}

.categories ul{
	padding: 0;
	padding-left: 20px;
	/*changes list dots to squares*/
	list-style: square;
	/*removes list points	*/
	list-style: none;	
}

/*this overwrites the class above*/
.categories li{
	padding-bottom: 8px;
	border-bottom: dotted 1px #333;
	/*apply image to the list-style but I dont have one*/
	list-style-image: url('../images/check.png');
	list-style:	square;
}


/*form stuff*/
.my-form{
	padding: 20px;
}

.my-form label{
	display: block;
}

.my-form input[type="text"], .my-form input[type="password"], .my-form input[type="email"]{
	padding: 8px;
	width: 50%;
}

.my-form textarea{
	padding: 10px;
 	width: 75%;
 }

.block{
	float: left;
	width: 33.3%;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
}